<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="javascript:window.history.go(-1)">Voltar</a>
    <ul><h2>Lista de pedidos registrados</h2>
    {% for p in pedidos %}
    <li>
        <a href="{% url 'ped_update' p.id %}"> {{p.id}}</a>
    </li>
    {% endfor %}
    </ul>
    <a href="javascript:window.history.go(-1)">Voltar</a>
<footer>
    <p align="center" data-background-color="black"> Todos os direitos reservados. Paulo Vinícius® 2018</p>
<footer> <p align="center">Paulo Vinícius® 2018 - Todos os direitos reservados. </p> </footer>
</body>
</html>