<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Alteração e consulta de {{rest.nome_pessoa}}</h1>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit">Salvar</button>
        <br>
        <p><a href="{% url 'ped_rest' rest.id %}">Consultar pedidos do restaurante {{rest.nome_restaurante}}</a></p>
        <br>
        <a href="javascript:window.history.go(-1)">Voltar</a>
    <footer> <p align="center">Paulo Vinícius® 2018 - Todos os direitos reservados. </p> </footer>
    </form>
</body>
</html>