<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <ul>
        <h2>Lista de restaurantes cadastrados</h2>

        {% for restaurante in restaurantes %}
        <li>
            <a href="{% url 'rest_update' restaurante.id %}">{{restaurante.nome_restaurante}}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="javascript:window.history.go(-1)">Voltar</a>
<footer> <p align="center">Paulo Vinícius® 2018 - Todos os direitos reservados. </p> </footer>
</body>
</html>