<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Seja Bem vindo!</h1>
    <h2> Sistema de controle e gerenciamento de pedidos em restaurantes</h2>
    {% if user.is_authenticated %}
    <p> Olá, {{user.username}}!</p>
    <ul><h3> Lista de atividades que esta aplicação pode executar:</h3>
        <li><a href="{% url 'lista_pessoas' %}"> Listagem de pessoas cadastradas</a></li>
        <li><a href="{% url 'mktshrqtd' %}"> Marketshare por quantidade de pedidos</a> </li>
        <li><a href="{% url 'mktshrvlr' %}"> Marketshare em função dos valores dos pedidos</a></li>
        <li><a href="{% url 'lista_restaurantes' %}">Listagem de restaurantes disponíveis</a></li>
        <li><a href="{% url 'listapedidos' %}">Lista de pedidos</a></li>
        <li>Para visualizar a quantidade de pedidos por dia, digite no campo endereço (após o 8000),
            "/pdia/dia(datainteira)", "/pmes/mes" ou "/pano/ano"</li>



    </ul>
    <a href="{% url 'logout_sys' %}" >Sair</a>
    {% else %}
    <h3> Clique em 'Login" para ter acesso às opções disponíveis</h3>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

<footer> <p align="center">Paulo Vinícius® 2018 - Todos os direitos reservados. </p> </footer>
</body>


</html>